{% extends "opstel/base_entries.html" %} 

{% block title %}{{ block.super }} | Latest entries{% endblock %}

{% block content %} 
{% for entry in latest %}
	<h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2> 
entry_archive
	<p class="date"><a href="{{ entry.get_absolute_url }}" class="permalink" title="Permalink"> </a> Published on {{ entry.pub_date|date:"F j, Y" }}</p>> 
	<div class="blurb">
	{% if entry.thumb %}
	    <img class = "blurbthumb" src="/media/{{ entry.thumb.url_relative }}" alt="{{ entry.thumb.filename }}">  	
	 {% endif %}
	
	{% if entry.excerpt %}
		{{ entry.excerpt|safe }} 
	{% else %}
		{{ entry.body|truncatewords_html:"50"|safe }} 
	{% endif %} 
	</div>
	<p><a href="{{ entry.get_absolute_url }}">Read more. . .</a></p>
{% endfor %} 
{% endblock %}


