{% extends "opstel/base_entries.html" %}

{% block title %} {{ block.super }} | Entries on {{ day|date:"F j, Y" }} {% endblock %}

{% block content %} 
<h2 class="goth">Entries on {{ day|date:"F j, Y" }}</h2>
{% for entry in object_list %}
	<article class="clearfix">
	<h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2> 

	<p class="date"><a href="{{ entry.get_absolute_url }}" class="permalink" title="Permalink"> </a> Published on {{ entry.pub_date|date:"F j, Y" }}</p>  
	{% if entry.thumb %}
	    <img class = "blurbthumb" src="{{ MEDIA_URL }}{{ entry.thumb.url_relative }}" alt="{{ entry.thumb.filename }}">  	
	 {% endif %}
	
	{% if entry.excerpt %}
		{{ entry.excerpt|safe }} 
	{% else %}
		{{ entry.body|truncatewords_html:"50"|safe }} 
	{% endif %} 
	
	<footer>
	<p><a href="{{ entry.get_absolute_url }}">Read more →</a></p>
	</footer>
	</article>
{% endfor %} 
{% endblock %}

