<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        
          <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        
          <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
          {% block extrahead %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

       
        {% load url from future %}
        <nav id="nav" role="navigation">
        	<ul>
	        	<li class="home">
	        	<a href="/">Home</a>
	        	</li>
        		<li class="about">
        		<a href="/about/">About</a>
        		</li>
        		<li class="blog">
        		<a href="{% url 'opstel.views.get_archive_index_first' %}">Blog</a>
        		</li>
        		
        	
        		<li class="contact">
        		<a href="/contact/">Contact</a>
        		</li>
        	</ul>
        </nav>
        
        
      
        
        {% block content %}
        {% endblock %}
        
        <h2>Blog Categories</h2>
        {% load blog_tags %}
        {% nav_categorylist %}
        {% entry_list %}
        
        <h2>Latest Entries</h2>
        <ul>
        	{% get_latest opstel.entry 5 as latest_entries  %}
        	{% for entry in latest_entries %}
        	<li>
        		<a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
        	</li>
        	{% endfor %}
        </ul>
        
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        
        <script>
            // toggle month
            var toggleMonth = function(month) {
                $(month).children('.events').slideToggle('fast');
                $(month).find('.month-data div.collapsed').toggle();
                $(month).find('.month-data div.expanded').toggle(); 
            }
        
            // expand the current month
            toggleMonth($('#{{now.year}}-{{now.month}}'));
            
            // intercept click to toggle month
            $('.month-data').click(function() {
                var month = $(this).parent();
                toggleMonth(month);
            });
        </script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
